html
  head
    title='Status - Show Me Your Work'
    style
      include ../public/css/bootstrap.min.css
      include ../public/css/style.css
  body
    div
      h1.text-center Show Me Your Work
      div.container-fluid.px-5
        div.row
          div.col-lg-3.order-1.order-lg-0.mt-4.mt-lg-0
            h4 Queue
            div#queue
              include ./queue.pug
          div.col
            h4 Status
            div#status
              include ./table.pug

    script(src='/status/static/js/socket.js')
