html
  head
    title='Status - Show Me Your Work'
    style
      include ../public/css/bootstrap.min.css
      include ../public/css/style.css
  body
    div.container
      h1.text-center.border-bottom.border-grey.mb-0.pb-2 Show Me Your Work - Build Status
      div#table
        include ./table.pug

    script(src='/status/static/js/socket.js')
